<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>衣服饰品</string>
		<key>iconName</key>
		<string>yifushipin</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>衣服裤子</string>
				<key>iconName</key>
				<string>yifukuzi</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>鞋帽包包</string>
				<key>iconName</key>
				<string>xiemaobaobao</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>化妆饰品</string>
				<key>iconName</key>
				<string>huazhuangshipin</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>食品烟酒</string>
		<key>iconName</key>
		<string>shipinyanjiu</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>早午晚餐</string>
				<key>iconName</key>
				<string>zaowuwancan</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>烟酒茶</string>
				<key>iconName</key>
				<string>yanjiucha</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>水果零食</string>
				<key>iconName</key>
				<string>shuiguolingshi</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>居家物业</string>
		<key>iconName</key>
		<string>jujiawuye</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>日常用品</string>
				<key>iconName</key>
				<string>richangyongpin</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>水电煤气</string>
				<key>iconName</key>
				<string>shuidianmeiqi</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>房租</string>
				<key>iconName</key>
				<string>fangzu</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>物业管理</string>
				<key>iconName</key>
				<string>wuyeguanli</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>维修保养</string>
				<key>iconName</key>
				<string>weixiubaoyang</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>行车交通</string>
		<key>iconName</key>
		<string>xingchejiaotong</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>公共交通</string>
				<key>iconName</key>
				<string>gonggongjiaotong</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>打车租车</string>
				<key>iconName</key>
				<string>dachezuche</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>私家车费用</string>
				<key>iconName</key>
				<string>sijiachefeiyong</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>虚拟通讯</string>
		<key>iconName</key>
		<string>xunitongxun</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>手机费</string>
				<key>iconName</key>
				<string>shoujifei</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>上网费</string>
				<key>iconName</key>
				<string>shangwangfei</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>虚拟会员</string>
				<key>iconName</key>
				<string>xunihuiyuan</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>休闲娱乐</string>
		<key>iconName</key>
		<string>xiuxianyule</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>运动健身</string>
				<key>iconName</key>
				<string>yundongjianshen</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>腐败聚会</string>
				<key>iconName</key>
				<string>fubaijuhui</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>休闲玩乐</string>
				<key>iconName</key>
				<string>xiuxianwanle</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>宠物宝贝</string>
				<key>iconName</key>
				<string>chongwubaobei</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>旅游度假</string>
				<key>iconName</key>
				<string>lvyoudujia</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>学习进修</string>
		<key>iconName</key>
		<string>xuexijinxiu</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>书报杂志</string>
				<key>iconName</key>
				<string>shubaozazhi</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>培训进修</string>
				<key>iconName</key>
				<string>peixunjinxiu</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>数码装备</string>
				<key>iconName</key>
				<string>shumazhuangbei</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>人情来往</string>
		<key>iconName</key>
		<string>renqinglaiwnag</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>送礼请客</string>
				<key>iconName</key>
				<string>songliqingke</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>孝敬家长</string>
				<key>iconName</key>
				<string>xiaojingjiazhang</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>还人钱物</string>
				<key>iconName</key>
				<string>huanrenqianwu</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>慈善捐助</string>
				<key>iconName</key>
				<string>cishanjuanzhu</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>医疗保健</string>
		<key>iconName</key>
		<string>yiliaobaojian</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>药品费</string>
				<key>iconName</key>
				<string>yaopinfei</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>保健费</string>
				<key>iconName</key>
				<string>baojianfei</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>美容费</string>
				<key>iconName</key>
				<string>meirongfei</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>治疗费</string>
				<key>iconName</key>
				<string>zhiliaofei</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>其他杂项</string>
		<key>iconName</key>
		<string>qitazaxiang</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>其他支出</string>
				<key>iconName</key>
				<string>qitazhichu</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>意外丢失</string>
				<key>iconName</key>
				<string>yiwaidiushi</string>
			</dict>
			<dict>
				<key>type</key>
				<string>0</string>
				<key>name</key>
				<string>烂账损失</string>
				<key>iconName</key>
				<string>lanzhangsunshi</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>name</key>
		<string>职业收入</string>
		<key>iconName</key>
		<string>zhiyeshouru</string>
		<key>consumeptionTypes</key>
		<array>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>工资收入</string>
				<key>iconName</key>
				<string>gongzishouru</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>利息收入</string>
				<key>iconName</key>
				<string>lixishouru</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>加班收入</string>
				<key>iconName</key>
				<string>jiabanshouru</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>奖金收入</string>
				<key>iconName</key>
				<string>jiangjinshouru</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>投资收入</string>
				<key>iconName</key>
				<string>touzishouru</string>
			</dict>
			<dict>
				<key>type</key>
				<string>1</string>
				<key>name</key>
				<string>兼职收入</string>
				<key>iconName</key>
				<string>jianzhishouru</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
