<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>职业收入</key>
	<dict>
		<key>工资收入</key>
		<array>
			<string>阿圭罗</string>
			<string>哲科</string>
			<string>席尔瓦</string>
			<string>亚亚图雷</string>
		</array>
		<key>利息收入</key>
		<array>
			<string>鲁尼</string>
			<string>法尔考</string>
			<string>范佩西</string>
			<string>迪玛利亚</string>
		</array>
		<key>加班收入</key>
		<array>
			<string>特里</string>
			<string>阿扎尔</string>
			<string>奥斯卡</string>
			<string>迭戈 科斯塔</string>
		</array>
		<key>奖金收入</key>
		<array>
			<string>沃尔科特</string>
			<string>吉鲁</string>
			<string>厄齐尔</string>
			<string>桑切斯</string>
		</array>
	</dict>
	<key>礼金收入</key>
	<dict>
		<key>中奖收入</key>
		<array>
			<string>阿圭罗</string>
			<string>哲科</string>
			<string>席尔瓦</string>
			<string>亚亚图雷</string>
		</array>
		<key>意外来钱</key>
		<array>
			<string>鲁尼</string>
			<string>法尔考</string>
			<string>范佩西</string>
			<string>迪玛利亚</string>
		</array>
		<key>经营所得</key>
		<array>
			<string>特里</string>
			<string>阿扎尔</string>
			<string>奥斯卡</string>
			<string>迭戈 科斯塔</string>
		</array>
	</dict>
</dict>
</plist>
