<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>红包</string>
	<string>回家过年</string>
	<string>旅游</string>
	<string>出差</string>
	<string>装修</string>
	<string>公司报销</string>
</array>
</plist>
